*{
    font-family:sans-serif;
    text-transform: uppercase;
    background: black;
    
}

h1{
    position: absolute;
    font-size: 15rem;
    margin: 0;
    top: 0.1rem;
    background: none;
    text-shadow: 5 5 red;
    color: white;
    z-index: 5;
}
h2{
    position: absolute;
    font-size: 12rem;
    margin: 0;
    top: 11.3rem;
    padding-left: 0.23rem;
    background: none;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

h3{
    position: absolute;
    font-size: 9rem;
    margin: 0;
    top: 20.5rem;
    padding-left: 0.44rem;
    background: none;
    color: white;
    z-index: 5;
}
h4{
    position: absolute;
    font-size: 6rem;
    margin: 0;
    top: 27.2rem;
    padding-left: 0.677rem;
    background: none;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
    
    
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }